
.idea/misc.xml

.idea/dictionaries

.idea/FOR-1-Paper.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

.idea/vcs.xml

__pycache__/for_utilities.cpython-38.pyc

__pycache__/al_plot_utils.cpython-38.pyc

__pycache__/ForRegVars.cpython-38.pyc

__pycache__/RegressionFor.cpython-38.pyc

.idea/other.xml
